<a href="https://colab.research.google.com/github/bsesay6/Data-project1/blob/main/project1_group2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Introduction: Give the details on the source of your data, its content, and some questions you are interested in. The data should have at least 1000 rows and 4 columns.

In [ ]:
import pandas as pd
df = pd.read_csv( r'/content/forecasts_custom_prophet.csv')

In [ ]:
df.head()

,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered
0,2020-06-04 00:00:00,New South Wales,Australia,4019.0,51.0,3321.0
1,2020-06-05 00:00:00,New South Wales,Australia,4082.0,51.0,3465.0
2,2020-06-06 00:00:00,New South Wales,Australia,4075.0,52.0,3494.0
3,2020-06-07 00:00:00,New South Wales,Australia,4085.0,53.0,3493.0
4,2020-06-08 00:00:00,New South Wales,Australia,4121.0,53.0,3480.0

In [ ]:
print("number of rows and colummns in our df= ", df.shape)

number of rows and colummns in our df=  (4389, 6)

In [ ]:
# Read data on forecats_custom_prophet
users = pd.read_table('/content/forecasts_custom_prophet.csv')

In [ ]:
df.describe()

          Confirmed         Deaths     Recovered
count  4.389000e+03    4389.000000  4.389000e+03
mean   1.272837e+04     651.344042  1.371752e+04
std    1.010976e+05    7474.913036  1.637421e+05
min    0.000000e+00       0.000000  0.000000e+00
25%    0.000000e+00       0.000000  0.000000e+00
50%    1.000000e+00       0.000000  0.000000e+00
75%    3.440000e+02       4.000000  4.000000e+00
max    3.242818e+06  382980.000000  4.657437e+06

## 2. Prepare and wrangle your data with Pandas and Numpy.

In [ ]:
df_1 = pd.read_csv (r'/content/forecasts_custom_prophet.csv')
df_1.head()

,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered
0,2020-06-04 00:00:00,New South Wales,Australia,4019.0,51.0,3321.0
1,2020-06-05 00:00:00,New South Wales,Australia,4082.0,51.0,3465.0
2,2020-06-06 00:00:00,New South Wales,Australia,4075.0,52.0,3494.0
3,2020-06-07 00:00:00,New South Wales,Australia,4085.0,53.0,3493.0
4,2020-06-08 00:00:00,New South Wales,Australia,4121.0,53.0,3480.0

In [ ]:
# displayiny the variable of the dataset
df_1.dtypes

ObservationDate     object
Province/State      object
Country/Region      object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object

In [ ]:
# info on each variable
df_1.info

<bound method DataFrame.info of           ObservationDate   Province/State Country/Region  Confirmed  Deaths  \
0     2020-06-04 00:00:00  New South Wales      Australia     4019.0    51.0
1     2020-06-05 00:00:00  New South Wales      Australia     4082.0    51.0
2     2020-06-06 00:00:00  New South Wales      Australia     4075.0    52.0
3     2020-06-07 00:00:00  New South Wales      Australia     4085.0    53.0
4     2020-06-08 00:00:00  New South Wales      Australia     4121.0    53.0
...                   ...              ...            ...        ...     ...
4384                    0                0              0        0.0     0.0
4385                    0                0              0        0.0     0.0
4386                    0                0              0        0.0     0.0
4387                    0                0              0        0.0     0.0
4388                    0                0              0        0.0     0.0

      Recovered
0        3321.0
1        3465.0
2        3494.0
3        3493.0
4        3480.0
...         ...
4384        0.0
4385        0.0
4386        0.0
4387        0.0
4388        0.0

[4389 rows x 6 columns]>

In [ ]:
# Determine null in each column
df_1.isnull().sum()

ObservationDate    0
Province/State     0
Country/Region     0
Confirmed          0
Deaths             0
Recovered          0
dtype: int64

## 3. Use EDA principles and the Matplotlib/Seaborn packages to visualize the data.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

## 4. Use at least two of the following depending on your question of interest: pairplot, histogram, barplot, boxplot, or scatterplot.

## 5. Simulate a nonparametric inference of the Median for a quantitative variable in the dataset.

## 6. The sample size should be about 10% of the data. Use random sampling for the rows.

## 7. Submit a link to the GitHub RUR.

## 8. Present in the class